main{
    border: 1px solid black;
    margin: auto;
    width: 60%;
    padding: 10px;
    list-style-type: none;
    justify-content: center;
    }
    h1{
        border: 1px solid black;
        margin: auto;
        width: 60%;
        border: 5px solid #FFFF00;
        padding: 10px;
        list-style-type: none;
        justify-content: center;
        }
ol{
border: 1px solid black;
margin: auto;
width: 60%;
border: 5px solid #FFFF00;
padding: 30px;
list-style-type: none;
}

tr{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

th{
    border: 1px solid black;
}